html 
	head
		title= "Chat"
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script(src="/socket.io/socket.io.js")
		script(src="script.js")
		link(rel='stylesheet', href='/style.css')
	body
		div.container
			header
				h1= "THE Chat Application"
			h2#label= "Please enter a nickname to start chatting!"
			div.container#input
				input.style-4(type='text' placeholder="Nickname")#pseudoInput
			div.container#button
				button#pseudoSet Set Nickname
			div#chatEntries
			div#chatControls
				textarea.multiline(type='text' cols="40" row="5" placeholder="Send a message!")#messageInput
				button#submit Send